.acd-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 10em; */
    margin-bottom: 4%;
    /* padding: 1%; */
    text-align: center;
    position: relative;
}
.acd-head-light {
    /* background-color: var(--fontLink); */
}
.acd-head-dark {
    background-color: var(--navBgDark);
}
.acd-icon-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
}
.acd-head-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    flex-wrap: wrap;
    margin: 1% auto;
    font-size: 1.2em;
    /* border: 1px solid black; */
}
.acd-head-txt-light {
    color: var(--fontDark);
}
.acd-head-txt-dark {
    color: var(--fontLight);
}
.acd-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 4em;
    padding: 1%;
    /* font-weight: bold; */
    /* border: .1px solid black; */
}
.acd-links-light {
    box-shadow: 0 0 .5px .5px rgba(0,0,0,.1);
    color: var(--fontDark);
}
.acd-links-light:active {
    background-color: rgba(0,0,0,.1);
}
.acd-links-dark {
    box-shadow: 0 0 .5px .5px rgba(255,255,255,.1);
    color: var(--fontLight);
}
.acd-links-dark:active {
    background-color: rgba(0,0,0,.5);
}
.acd-link-img-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 1%;
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid black; */
}
.acd-link-img {
    color: var(--fontLink);
}
.acd-link-txt-cover {
    display: grid;
    grid-row: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: auto 1%;
    /* height: 100%; */
    /* border: 1px solid black; */
}
.acd-link-txt-hd {
    font-size: 1.2em;
    /* border: 1px solid black; */
}
.acd-link-txt {
    display: flex;
    flex-wrap: wrap;
    color: grey;
    font-size: .8em;
    /* justify-self: left; */
    /* text-align: left; */
    /* border: 1px solid black; */
}