.ac-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 96%;
    min-height: 14em;
    margin: 2% auto;
    border-radius: 5px;
    background-color: rgba(0,128,128,.5);
    background-image: url('../media/pix/ring_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}
.ac-banner-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    /* width: 80%; */
    margin: .5em auto .5em .5em;
    padding: 2% 1em;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    /* background-color: rgba(255,255,255,1); */
}
.ac-banner-head {
    font-size: 1.2em;
    margin: 1%;
    /* text-shadow: 1px 1px rgba(140,217,140,.6); */
}
.ac-options {
    display: flex;
    /* flex-wrap: wrap; */
    /* columns: 50% 50%; */
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    margin: 1% auto;
    overflow-x: scroll;
    position: relative;
    /* border: 1px solid rgba(255,255,255,1); */
}
.ac-options::-webkit-scrollbar {
    display: none;
}
.ac-options-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    min-width: 12em;
    height: 6em;
    margin: 1%;
    padding: 1%;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
    /* font-weight: bold; */
    color: white;
    /* background-color: rgba(255,255,255,1); */
}
.ac-options-btn:active {
    color: teal;
    background-color: rgba(0, 128, 128 .2);
}
.ac-options-txt {
    /* color: teal; */
    /* font-size: 12px; */
    font-weight: bold;
}
