* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 4em;
    width: 100%;
    padding: 0 3%;
    color: inherit;
    background-color: white;
    border: 0.5px solid rgb(0, 0, 0, .05);
    /* position: relative; */
}
.listItem:active {
    background-color: rgba(0, 128, 128, .2);
}
.chavatarCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(0, 128, 128);
    border-radius: 50%;
}
.chavatar {
    height: 100%;
    width: 100%;
}