.chatCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
}
.chatHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4em;
    width: 100%;
    padding: 0 2%;
    z-index: 1;
    color: teal;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 1px 0px rgb(0, 128, 128);
}
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}
.backBtn:active {
    background-color: rgba(0, 128, 128, .2);
}
.pgTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 3em;
}
.chatView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 83%;
    width: 100%;
    top: 8.4vh;
    bottom: 8.4vh;
    border: 1px solid black;
    position: fixed;
}
.chat-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
}
.msg-item {
    display: flex;
    /* max-width: 80%; */
    /* border: 1px solid black; */
    /* position: absolute; */
    /* min-height: 3em; */
    margin: 1%;
}
.msg-out {
    right: 0;
    justify-content: flex-end;
}
.msg-in {
    left: 0;
    justify-content: flex-start;
}
.chat-bubble {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 5px;
    padding: 1%;
    background-color: white;
}
.msg-content {
    margin: 1%;
}
.msg-date {
    /* position: ; */
    right: 0;
}
.chatInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 1px 0px rgb(0, 128, 128);
}
.chat-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5% 2%;
    /* border: 1px solid black; */
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
} */
.media-hold {
    display: flex;
    flex-wrap: flex-wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* height: 5em; */
    margin: 0.5%;
    /* border: 1px solid rgba(0,128,128,.1); */
    background-color: rgba(0,0,0,.05);
    overflow: scroll;
    position: relative;
}
.input-hold {
    display: flex;
    flex-direction: column;
    /* height: 30em; */
    /* max-height: 10em; */
    width: 100%;
}
.dv-extra{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 2.5em;
    /* border: 1px solid black; */
    /* background-color: rgba(0,0,0,.05); */
}
.field-btn-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.msgInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 85%;
    outline: none;
    text-align: left;
    font-size: 1em;
    padding: 5% 4%;
    border: .5px solid rgba(0,0,0,.05);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    resize: none;
}
.msgInput:focus {
    background-color: rgba(0,128,128,.05);
}
.msgBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 3.5em;
    padding: 0;
    border: .5px solid rgba(0,0,0,.05);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
    color: teal;
    background-color: white;
}
.msgBtn:active {
    color: white;
    background-color: rgba(0,128,128,.2);
}
.sendIcon {
    display: flex;
    flex-direction: column;
    height: 1em;
    width: 2em;
    color: #0080;
}
.media-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    height: 10em;
    overflow: auto;
    position: relative;
}
.media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin: 0.5%; */
    position: relative;
    /* border: 1px solid black; */
}
.media-icon {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    top: 2%;
    right: 2%;
    padding-right: 1%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 50%;
    color: grey;
    background-color: white;
    position: absolute;
    z-index: 2;
}
.media-play {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin: absolute;
}
#pick-file {
    display: none;
    width: 0;
}
.emo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 40em; */
    /* border: 1px solid black; */
}
--epr-emoji-size {
    font-size: 0.5em;
}