* {
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
}
.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
}
.expCover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    /* padding: 1% 2%; */
    top: 3em;
    bottom: 3em;
    overflow-y: scroll;
}
.expCover::-webkit-scrollbar {
    display: none;
}
.explore-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    margin-bottom: .5%;
    padding: 1%;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: white;
}
.dummyBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    /* border-radius: 50%; */
    /* background-color: rgba(255,255,255,1); */
    /* position: fixed; */
    /* bottom: 10%; */
    /* right: 5%; */
    /* z-index: 2; */
}
.works {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 2%;
    /* border-bottom: 1px solid rgba(0,0,0,.1); */
    background-color: white;
}
.gigs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    /* height: 10em; */
    margin: .5% auto;
    /* overflow: hidden; */
    border: .8px solid rgba(0,0,0,.1);
    /* border-radius: 5px; */
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 1px .5px rgba(0,0,0,.1);
    background-image: url('../media/pix/ring_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.gigs-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* height: 10em; */
    margin: 2em auto;
    color: white;
    background-color: rgba(255,255,255,.1);
}
.gigs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-size: 1.3em;
    margin: 1% auto;
    /* border: 1px solid black; */
}
.gigs-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    margin: 2% auto;
    text-align: center;
    /* border: 1px solid black; */
}
.gigs-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 2.5em;
    margin: 2% auto;
    /* font-size: 1.2em; */
    font-weight: bold;
    /* border-radius: 5px; */
    color: white;
    background-color: rgba(0,128,128,1);
    box-shadow: 0 0 1px .5px rgba(0,0,0,.1);
}
.commDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    margin: .5% auto;
    padding: 1%;
    /* border: .8px solid rgba(0,0,0,.1); */
    /* border-radius: 5px; */
    background-color: white;
    box-shadow: 0 0 1px .5px rgba(0,0,0,.1);
    position: relative;
}
.headTxt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    height: 1.8em;
    margin: 1% auto;
    /* padding: 0 1%; */
    font-size: 1.2em;
    /* border: .5px solid rgba(0,0,0,.1); */
    border-radius: 5px;
    /* box-shadow: 0 0 .5px .5px rgba(0,0,0,.1); */
}
.commGrp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    padding: 1% 0;
    overflow-x: scroll;
    /* border: 1px solid black; */
    position: relative;
}
.commGrp::-webkit-scrollbar {
    display: none;
}
.commItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* min-height: 3em; */
    /* max-height: 14em; */
    min-width: 16em;
    max-width: 20em;
    margin: 0 0.5%;
    padding: 1%;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    border-radius: 3px;
    box-shadow: 0 0 1px .5px rgba(0,0,0,.1);
    position: relative;
}
.commItemCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    /* border: 1px solid rgba(0,0,0,.1); */
    border-radius: 3px;
    overflow: hidden;
}
.commItemImg {
    height: 100%;
}
.commItemContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.commItemTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 1em auto;
    background-color: white;
}
.commItemTxt>h3 {
    font-size: 1.2em;
}
.searchPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 4;
}
.searchBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 100%;
    padding: 1%;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.closeBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 100%;
    /* border: 1px solid black; */
}
.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
}
.searchBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 4%;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, .05);
}
.searchBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4em;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, .05);
}
.quickResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.quickResults > h3, .searchHistory > h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.quickResultItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    /* border: 1px solid black; */
}
.searchHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.historyItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    /* border: 1px solid black; */
}