.fac-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3em;
    /* padding: 1% 2%; */
    /* overflow-y: scroll; */
    /* position: relative; */
}
.fac-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 2%; */
    /* font-size: 15px; */
    background-color: white;
    /* border: 1px solid black; */
}
.fac-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 4em; */
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
}
.fac-cover-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5em;
    /* border: 1px solid white; */
    overflow: hidden;
}
.fac-cover-img {
    width: 100%;
    /* height: 100%; */
}
.fac-avatar-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,1);
    color: teal;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 3%;
    bottom: -30%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
}
.fac-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
}
.fac-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    padding: 1% 1%;
    margin: 4% 3%;
    /* border: 1px solid black; */
}
.fac-name-cover {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    min-height: 3.5em;
    width: 100%;
    margin: 1% auto;
    font-weight: bold;
    position: relative;
}
.fac-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 1.4em;
    /* margin: 1% 0; */
    /* border: 1px solid black; */
}
.fac-name-sub {
    width: 100%;
    font-size: 1.1em;
    color: rgb(0, 128, 128);
    /* border: 1px solid black; */
}
.fac-collection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.fac-cards-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 3em; */
    width: 100%;
    margin: 1% auto;
    overflow-x: scroll;
    /* border: 1px solid black; */
}
.fac-cards-actions::-webkit-scrollbar {
    display: none;
}
.fac-act-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    min-width: 50%;
    margin: 1%;
    font-weight: bold;
    color: teal;
    overflow: hidden;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 0 0 1px 1px rgba(0,0,0,.04);
}
.fac-act-btn-icon {
    /* height: 2.5em; */
    /* width: 5em; */
    /* border: 1px; */
    /* color: white; */
    /* border: 1px solid black; */
}
.fac-desc {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    /* height: 4em; */
    width: 100%;
    /* border: 1px solid black; */
    margin: 2% auto;
    padding: 0 1%;
}
.fac-bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* font-size: 12px; */
    overflow: hidden;
    /* border: 1px solid black; */
}