@keyframes s-anime {
    0% {
        height: 0;
    }100% {
        height: 100%;
    }
}
.faculties {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
.fa-hold {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80%;
    padding: .5em 0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: absolute;
    animation-name: s-anime;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.fa-hold-light {
    color: var(--fontDark);
    background-color: var(--bgLight);
}
.fa-hold-dark {
    color: var(--fontLight);
    background-color: var(--bgDark);
}
.fa-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    height: 2em;
    margin: 1% auto;
    /* font-size: 1.2em; */
}
.fa-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 3em;
    margin: 2% auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
}
.fa-search {
    width: 100%;
    height: 100%;
    padding: 0 2%;
    border: none;
    outline: none;
}
.fa-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border: none;
}
.fa-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% auto;
    /* border: 1px solid white; */
}
.fa-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4em;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.fa-item-light {
    color: var(--fontDark);
    box-shadow: 0 0 .5px .5px rgba(0,0,0,.1);
}
.fa-item-dark {
    color: var(--fontLight);
    box-shadow: 0 0 .5px .5px rgba(255,255,255,.1);
}
.fa-img-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 1% 2%;
    overflow: hidden;
    border-radius: 50%;
}
.fa-item-img {
    height: 100%;
}
.fa-item-txt {}