* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}
*:visited {
    color: inherit;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}
.link-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
    /* margin-top: 3em; */
    background-color: white;
    position: fixed;
    z-index: 2;
    right: 0;
    /* border: 1px solid black; */
}
.link-cover-light {
    background-color: var(--navBgLight);
}
.link-cover-dark {
    background-color: var(--navBgDark);
}
.nav-tog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 0 3%;
    /* border: 1px solid black; */
}
.close-icon {
    font-size: 25px;
}
.close-icon-light {
    color: var(--fontDark);
}
.close-icon-dark {
    color: var(--fontLight);
}
.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 70%;
    padding: 0 3%;
    /* color: teal; */
    background-color: white;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, .05);
}
.auth-state-cover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* padding: 2%; */
    /* border: 1px solid black; */
}
.auth-state-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 5em;
    margin: .5% 0;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 128, 128);
    border-radius: 2px;
    /* border: 1px solid black; */
}
.logout-btn {}