.info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* padding: 2%; */
    /* font-size: 15px; */
}
.info-card-light {
    /* background-color: var(--navBgDark); */
}
.info-card-dark {
    background-color: var(--navBgDark);
}
.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 4em; */
    width: 100%;
    border: 1px solid black;
    position: relative;
}
/* .pro-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8em;
    position: relative;
    border: 1px solid black;
    left: 0;
} */
.cover-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5em;
    /* border: 1px solid white; */
    overflow: hidden;
}
.cover-img {
    width: 100%;
    /* height: 100%; */
}
.pro-avatar-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    color: teal;
    overflow: hidden;
    position: absolute;
    /* left: 3%; */
    bottom: -30%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
}
.pro-avatar-cover-light {
    border: 2px solid var(--bgLight);
}
.pro-avatar-cover-dark {
    border: 2px solid var(--bgDark);
}
.pro-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
}
.user-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1% 2%;
    margin: 4% 3%;
    /* border: 1px solid black; */
}
.fullname-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 100%;
    /* border: 1px solid black; */
    font-weight: bold;
}
.fullname {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    /* margin: 1% 0; */
    /* border: 1px solid black; */
}
.username {
    font-size: 1.1em;
    color: rgb(0, 128, 128);
    /* border: 1px solid black; */
}
.collection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    /* border: 1px solid black; */
}
.cards-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* height: 3em; */
    /* width: 50%; */
    /* border: 1px solid black; */
}
.act-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    color: teal;
    /* border-radius: 2px; */
    /* border: 1px solid black; */
}
.act-btn-icon {
    /* height: 2.5em; */
    /* width: 5em; */
    /* border: 1px; */
    /* color: white; */
    /* border: 1px solid black; */
}
.user-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    /* margin: 1% auto; */
    padding: 0 1%;
    font-size: 1.2em;
    /* border-radius: 5px; */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.u-link-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding: 0 1%; */
    /* border: 1px solid green; */
}
.u-link-cover-light {
    color: var(--fontDark);
}
.u-link-cover-dark {
    color: var(--fontLight);
}
.u-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* font-size: 1.1em; */
    font-weight: bold;
    /* border: 1px solid black; */
}
.u-link-active {
    color: var(--fontLink);
    border-bottom: 2px solid rgba(0,128,128,1);
}