* {
    box-sizing: border-box;
    margin: 0;
    font-family: Courier New;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 100%; */
    /* width: 100%; */
    position: fixed;
    top: 3em;
    /* bottom: 3em; */
    /* background-color: grey; */
}
.profile-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* padding: 1% 2%; */
    overflow-y: scroll;
}
.info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2%;
    font-size: 15px;
    background-color: white;
}
.card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 4em; */
    width: 100%;
}
.pro-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 8em; */
    position: relative;
    /* border: 1px solid black; */
    /* left: 0; */
}
.cover-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6em;
    /* border: 1px solid black; */
    overflow: hidden;
}
.cover-img {
    width: 100%;
    /* height: 100%; */
}
.pro-avatar-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    /* border: 1px solid rgb(0, 128, 128); */
    border: 4px solid rgba(255, 255, 255, .9);
    color: teal;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 2%;
    bottom: -20%;
}
.pro-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.user-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 1%;
    /* margin: 0 3%; */
    /* border: 1px solid black; */
}
.fullname-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 60%; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* width: 100%; */
    /* border: 1px solid black; */
}
.fullname {
    font-size: 16px;
    margin: 1% 0;
}
.username {
    display: flex;
    font-size: 12px;
    color: rgb(0, 128, 128);
    width: 100%;
    margin: 1% 0;
    /* border: 1px solid black; */
}
.collection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    /* border: 1px solid black; */
}
.cards-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* height: 3em; */
    /* width: 50%; */
    /* border: 1px solid black; */
}
.act-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    color: teal;
    /* border-radius: 2px; */
    /* border: 1px solid black; */
}
.act-btn-icon {
    /* height: 2.5em; */
    /* width: 5em; */
    /* border: 1px; */
    /* color: white; */
    /* border: 1px solid black; */
}
.user-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 4em; */
    width: 100%;
    /* border: 1px solid black; */
    margin: 2% 0;
    padding: 0 1%;
}
.user-bio {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: hidden;
}
.connect-cover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0 1%;
}
.connections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    /* color: teal; */
    font-size: 12px;
}
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: nowrap; */
    align-items: center;
    height: 4em;
    width: 100%;
    /*margin: 0 auto;
    overflow-x: auto;
    -ms-overflow-style: none;  IE and Edge
    scrollbar-width: none; */
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: white;
}
.options::-webkit-scrollbar {
    display: none;
}
.options-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    /* height: 100px; */
    /* max-width: 100%; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* height: 3.5em; */
    /* width: 7em; */
    padding: 1%;
    border-radius: 2px;
    /* border: 1px solid rgba(0, 128, 128, .2); */
    /* font-weight: bold; */
}
.options-btn:active {
    color: teal;
    background-color: rgba(0, 128, 128 .2);
}
.options-btn-txt {
    color: teal;
    font-size: 12px;
}