@keyframes s-anime {
    0% {
        height: 0;
    }100% {
        height: 100%;
    }
}
.s-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 6;
    animation-name: s-anime;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.s-page-light {
    color: var(--fontDark);
    background-color: var(--bgLight);
}
.s-page-dark {
    color: var(--fontLight);
    background-color: var(--bgDark);
}
.s-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
}
.s-bar-light {
    box-shadow: 0 0 .5px .5px rgba(0,0,0,.1);
}
.s-bar-dark {
    background-color: var(--navBgDark);
}
.s-close-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}
.s-close-icon {
    /* width: 2em; */
    /* height: 2em; */
    /* border: 1px solid white; */
}
.s-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.s-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2%;
    border: none;
    outline: none;
    color: none;
    background-color: rgba(0,0,0,0);
}
.s-input-light:focus {
    color: var(--fontDark);
    /* border-bottom: 1px solid var(--fontDark); */
}
.s-input-dark:focus {
    color: var(--fontLight);
    /* border-bottom: 1px solid var(--fontLink); */
}
.quick-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    /* border: 1px solid white; */
}
.quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
}
.quick-link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* font-size: 1.2em; */
    font-weight: bold;
    /* border: 1px solid white; */
}
.quick-link-active {
    color: var(--fontLink);
    border-bottom: 2px solid var(--fontLink);
}
.quick-link-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding: 0 1%; */
    /* border: 1px solid black; */
}
.quick-link-cover-light {
    /* color: var(--fontDark); */
}
.quick-link-cover-dark {
    /* color: var(--fontLight); */
}