.servi-cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    font-weight: bold;
    overflow-x: scroll;
}
.servi-cat::-webkit-scrollbar {
    display: none;
}
.cat-link-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}
/* .cat-link-cover-light {
    
} */
/* .cat-link-cover-dark {} */
.cat-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.cat-links-active {
    color: var(--fontLink);
    border-bottom: 2px solid var(--fontLink);
}
.servi-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 4em;
    padding: 1%;
    /* font-weight: bold; */
    /* border: .1px solid black; */
}
.servi-links-light {
    box-shadow: 0 0 .5px .5px rgba(0,0,0,.1);
    color: var(--fontDark);
}
.servi-links-light:active {
    background-color: rgba(0,0,0,.1);
}
.servi-links-dark {
    box-shadow: 0 0 .5px .5px rgba(255,255,255,.1);
    color: var(--fontLight);
}
.servi-links-dark:active {
    background-color: rgba(0,0,0,.5);
}
.servi-link-img-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    margin: 1%;
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid white; */
}
.servi-link-img {
    /* height: 100%; */
    color: var(--fontLink);
}
.servi-link-txt-cover {
    display: grid;
    grid-row: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: auto 1%;
    /* height: 100%; */
    /* border: 1px solid black; */
}
.servi-link-txt-hd {
    font-size: 1.2em;
    /* border: 1px solid black; */
}
.servi-link-txt {
    display: flex;
    flex-wrap: wrap;
    color: grey;
    font-size: .8em;
    /* justify-self: left; */
    /* text-align: left; */
    /* border: 1px solid black; */
}